---
import Container from "@components/container.astro";
import FeaturesCol from "@components/features-col.astro";
---

<!--====================== Our Solutions ======================-->
<div class="py-24">
  <Container>
    <div>
      <h2
        class="text-primary-strong text-center text-3xl md:text-5xl font-bold">
        Our Solutions
      </h2>
      <p
        class="text-center text-primary-strong font-medium text-lg leading-snug max-w-4xl mx-auto mt-6">
        Cariations of passages of Lorem Ipsum available, but the majority have
        suffered alteration in some form repeat predefined chunks. There are
        many variations of passages of Lorem Ipsum available, but the majority
        have suffered alteration in some form
      </p>
    </div>
    <div class="mt-20">
      <FeaturesCol />
    </div>
  </Container>
</div>
<!--//End Our Solutions -->
